{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/admin/symfonyNewEntityForm.css') }}">
{% endblock %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Category</h1>

    {{ include('admin/admin_category/_form.html.twig') }}

    <a href="{{ path('app_admin_category_index') }}">back to list</a>
</div>
{% endblock %}
