/* This CSS assumes you're re-using some of the category page styles, like the .container */
body {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* or your preferred height */
  width: 100vw;
  background-color: #ECDBBA;
}

/* .container .firstTitle{
  background-color: #ECDBBA;
  font-family: 'Baloo Bhaijaan', cursive;
} */
.article-header {
  background-color: #ECDBBA;
  padding: 20px 35px;
  /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: start;
  /* Align to the left */
  gap: 20px;
  /* Space between title and video */
  height: 30%;
  flex-direction: row;
  /* This will arrange children (title, video, illustration) side-by-side */
  justify-content: space-between;
  /* This will place maximum space between the children */
}

.article-header h1 {
  font-size: 62px;
  margin: 0;
  font-family: 'Baloo Bhaijaan', cursive;
}


.header-illustration {
    /* Adjust as needed based on the size of your illustration */
    max-width: 25%; /* Or another percentage value that suits your design */
    height: auto;
}

.header-illustration img {
    width: 60%; /* This ensures the image scales within its container */
    height: 60%;
}

.article-video {
  width: 100%;
  max-width: 800px;
  /* Adjust based on desired maximum video width */
}

.article-content {
  height: 70%;
  background-color: #161616;
  /* padding: 20px 35px;  */
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
  color: #ECDBBA;
  /* Making text visible on a dark background */
}
.article-content .article-video {
  margin: 0 25% 0 25%;
}

.article-content h2 {
  text-align: center;
  font-size: 45px;
  margin: 25px 25px 0 25px;
  font-family: 'Baloo Bhaijaan', cursive;
}

.article-content .text {
  text-align: justify;
  padding: 20px 15% 0 15%;
  line-height: 1.5;
}
