* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* This ensures padding doesn't affect total width/height */
}

body{
    background-color: #f4f9f9;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #161616;
    height: 50px;
    display: flex; 
    justify-content: space-between;
}

.navTitle{
    font-size: 32px;
    font-family: 'Baloo Bhaijaan', cursive;
    color: #ECDBBA;
    text-decoration: none;
}
.navTitle{
    font-size: 32px;
    font-family: 'Baloo Bhaijaan', cursive;
    color: #ECDBBA;

}
.navTitle a{
    text-decoration: none;
    color: #ECDBBA;
}
.navTitle:visited a{
    text-decoration: none;
}
.user-menu .user-icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* margin: 10px; */
}

.user-menu .user-icon-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #C84B31; /* Couleur de fond du rond */
    border-radius: 50%; /* Assurez-vous que c'est un cercle */
    padding: 5px; /* Ajoutez un peu de marge intérieure pour ajuster la taille du cercle */
    z-index: -1; /* Pour placer le fond en arrière-plan de l'icône */
}
.user-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.user-menu .fas {
    font-size: 24px;
}

.user-menu .user-menu-dropdown {
    display: none;
    position: absolute;
    min-width: 160px;
    min-height: 160px;
    right:0;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:#161616;;
    padding: 12px 16px;
    
}

.user-menu .user-menu-dropdown a {
    color: #ECDBBA;
    text-decoration: none;
    display: block;
    margin: 10px;
}

.user-menu:hover .user-menu-dropdown {
    display: block;
    opacity: 0.68;
}

.burger-menu {
    margin: 10px;
}

