body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* or your preferred height */   
    width: 100vw;
    background-color: #ECDBBA;
}

.container .firstTitle{
    background-color: #ECDBBA;
    font-family: 'Baloo Bhaijaan', cursive;
}
.container h1{
    font-size: 62px;
    padding: 35px 0 35px 45px;
}
.description-category {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    background-color: #ECDBBA;
}

.category-text {
    width: 80%;
}
.category-text p{
    width: 80%;
    text-align: justify;
    padding: 35px 0 35px 40px;
}

.category-illustration img {
    padding-bottom: 15vh;
    max-height: 70%;
    max-width: 70%;
}
.article-row {
    display: flex;
    align-items: center;
    margin: 0 0 0 25px;
}

.article-list {
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    background-color: #161616;
    height: 70%;
    margin-top: -20px;
    padding-top: 150px;
    /* Remove the z-index property here */
}

.article-title {
    text-indent: 18px;
    font-family: 'Baloo Bhaijaan', cursive;
    color:#ECDBBA;
}

.article-item {
    display: flex;
    align-items: center;
    background: #346751;
    margin: 10px 25px 10px 2vw;
    /* padding: 10px; */
    position: relative;
    width: 80vw;
    border-radius: 10px;
    height: 5vh;
    transition: margin-left 0.8s ease;
}
.article-item:hover{
    margin-left: 80px;
 }

.article-list::before {
    content: "";
    position: absolute;
    top: 48px;
    left: 37px; 
    height: 100%;
    border-left: 2px solid #ECDBBA;
    z-index: 0; /* Adjust if necessary */
}

.progress-bar {
    padding-right: 25px;
    position: relative;
    z-index: 2;  /* Increase from 1 to ensure it remains above the article-list's pseudo-element */
}

.article-link {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #C84B31;
    padding:0px 25px 0 25px;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%; /* Make the link take the full height */
    text-decoration: none; /* Remove the default underline from the link */
    font-size: 32px;
    color:#161616;
}
.linkBeforeDiv{
    text-decoration: none;
}

