body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  /* Default Font */
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding-top: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 60px);

}

.container .login {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #346751;

}

.container .description {
  flex: 1;
  padding: 40px;
  background-color: #161616;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 135px;
  border-top-left-radius: 95px;
  border-bottom-left-radius: 95px;
  margin-left: -95px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: 'Baloo Bhaijaan', cursive;
  color: #ECDBBA;
}


form {
  margin: 35px 0 20px 0;
}

.form-control {
  width: 20vw;
  padding: 10px;
  height: 2vh;
  margin: 5px 0 20px 0;
  background-color: black;
  color: white;
  border: none;
  border-radius: 54px;
}

.form-control::placeholder {
  color: white;
}



.input-group {
  display: flex;
  align-items: center;
  /* width: 15vw; */
  /* Same width as the form-control was */
}

.input-group .form-control {
  flex: 1;
  /* Takes as much space as it can */
  width: 20vw;
  margin-right: 20px;
  /* Override the width specified earlier */
}

.input-group-text {
  background-color: transparent;
  /* To match the form control background */
  border: none;
}

.btn:hover {
  background-color: #9d3b27;
}
.btn {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  color: black;
  background-color: #C84B31;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.description ul {
  list-style: none;
  padding: 0;
}

.description li::before {
  content: url('../icons/puce.svg');
  margin-right: 10px;
}

.form-link a {
  margin: 20px;
  color: #ECDBBA;
  font-size: 20px;
}
ul li{
  margin-top: 20px;
  font-size: 27px;
}
#iconConnexion {
margin-top: 100px;
}